/* You can add global styles to this file, and also import other style files */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-shadow: 5px;
    box-sizing: border-box;
    background-color: darkslategrey;
}



h1{
    background-color: rgb(65, 216, 166);
    text-align: center;
    font-size: 33px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}